body{
    background-image: url(../images/fundo-site.jpg);
    background-repeat: no-repeat; /* nao repetir a imagem*/
    background-size: cover; /*cubrir todo a tela*/
    background-position: center; /*centralizar a imagem*/

    font-family: 'VT323', monospace; /*monospace = fonte de reserva, caso a fonte principal nao apareça*/
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*vh = altura*/
    padding: 30px;
    
}
.cartao{
    background-color: #070d12;
    width: 370px;
    border: 2px solid #e126d9;
    border-radius: 10px;
    overflow: hidden; /* esconder tudo que passar do cartao*/
}

.cartao .minhas-informacoes {
    padding-top: 20px;
    display: flex; /*permitir orientar o item*/
    flex-direction: column; /* alinhar em coluna*/
    align-items: center; /*alinhar horizontalmente por causa do flex direction*/
    gap: 10px; /*espaçamento entre os itens*/
}

.cartao .minhas-informacoes img{ 
    border-radius: 10px; /*arredondar bordar da imagem do perfil*/        
    border: 4px solid #02d08f;
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5;
}
.cartao .conteudo{
    margin-top: 15px;  
}

.cartao .abas{
    display: flex; /*por padrao o flex ja alinha em 'row'*/
}

.cartao .abas .aba{
    width: 50%; /*pega o tamanho total da div pai e divide 50% garantindo cada aba ficar com metade cada 1*/
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; 
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{ /*estilizando um item que tem duas classes, no caso na classe selecionado no momento*/
    background-color: #262626;
}

.cartao .informacoes-abas{
    background-color: #262626;
}

.cartao .abas .aba:hover{ /*passar por cima de algum elemento*/
    background-color: #414141;
}   

.informacoes-abas .informacao{
    min-width: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.informacao-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto; /* limitar o texto, criando um scroll*/
    padding-right: 15px;
}

.informacoes-abas .descricao span{
    color: #02d08f;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
    
}
.redes-sociais li a{
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover{
    opacity: 0.8;
}

.redes-sociais .curriculo{
    background-color: #06c185;
}

.redes-sociais .linkedin{
    background-color: #1d87bd;
}

.redes-sociais .trailblazer{
    background-color: #545454;
}



